.titles {
	text-shadow: #aaa 2px 2px 2px;
	text-align: center;
	background: url(berd.gif) repeat;
}
.content {
	background:linear-gradient(to bottom, #FFFFFF, #00ff00);
}
.col-lg-4 {
	color:white;
	background:linear-gradient(to top, #FFFFFF, #000000);
}
.col-lg-8 {
	background:linear-gradient(to bottom, #FFFFFF, #00ff00);
}
.col-lg-12 {
	font-family: "Brush Script MT", Brush Script Std, cursive;
}
.moreStuff {
	border: 1px solid black;
	text-shadow: 3px 2px red;
	font-size:2vw;

}